body {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(https://t4.ftcdn.net/jpg/01/09/68/11/360_F_109681129_ynmKEVlTCjjOnUEgeWvEBJmdEyED9GEx.jpg);
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgba(112, 245, 152, 0.712);
    padding: 0;
    margin: 0;
}

.cim {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/2081946.jpg);
    background-size: cover;
    color: white;
}

.cim h1 {
    font-size: 70px;
    padding-top: 150px;
}

.cim p {
    font-size: 25px;
    padding-bottom: 150px;
}

.kartyak {
    margin: 20px;
}

.kartya {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.kartya img {
    border-radius: 10px;
}

.also {
    background-color: rgb(112, 245, 152);
    padding: 9px 30px;
    height: 41px;
}