body {
    background-color: rgba(190, 250, 222, 0.5);
    margin: 0;
    padding: 0;
}

.cim {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/2081946.jpg);
    background-size: cover;
    color: white;
}

.cim h1 {
    padding-top: 200px;
    font-size: 70px;
}

.cim p {
    padding-bottom: 200px;
    font-size: 20px;
}

.kartya {
    background-color: white;
    color: black;
    border-bottom: 5px solid rgba(0, 182, 97, 0.5);
}

.kartya p {
    font-size: 15px;
    padding-bottom: 20px;
}

.kartya img {
    border-radius: 20px;
}

.menu {
    background-color: rgba(0, 182, 97, 0.5);
    margin: 0;
    padding: 0;
}

.menu div {
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: black;
}

.also {
    position: relative;
    width: 100%;
    padding-top: 60px;
    padding-left: 20px;
    background-color: rgba(0, 182, 97, 0.5);
}

.also p {
    position: absolute;
    bottom: 0px;
}